:root {
  /* color styles variables */
  --text-color: #2e2f42;
  --border-color: #808080;
  --box-color: #f6f6fe;
  --white-color: #fff;
  --black-color: #000;
  --button-color: #4e75ff;
  --button-color-hover: #6c8cff;
  --button-destroy-color: #ff4e4e;
  --button-destroy-color-hover: #ff7070;
  --button-disable-color: #cfcfcf;
  --button-disable-text-color: #989898;
  --background-disable-color: #fafafa;

  /* font weight variables */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --black: 900;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;

  color: #2e2f42;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 32px;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
