.menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 24px;
}

.menu-item {
  list-style: none;
  padding: 24px 0;
}

.menu-link {
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 80px;
  height: 60px;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.menu-link:hover {
  background-color: var(--button-color-hover);
}

p {
  padding: 24px;
  margin-bottom: 50px;
}

.btn {
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 80px;
  height: 60px;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--white-color);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:hover {
  background-color: var(--button-color-hover);
}
